In [1]:
#datatype is the type of data used in the program
#python automatically recognises the datatype
#user need not to define the dataype in python
#python do not have char datatype
#python have string in the place of char and works on behalf of both char and string
#int for integers
#string for characters
#in string "" or '' both are acceptable
#float for decimal containing numbers
#boolean for true and false statements
#complex is for complex numbers
#in python j is used in place of i(iota) for eg: 12+3j

a="mrunmai"
print(a)
type(a)
#type() is used to show the datatype of defined variable

mrunmai

str

In [2]:
b='hello world'
a="24"
c='34'
print(a,b,c)

24 hello world 34

In [7]:
b='hello world'
a="24"
c='34'
print(a,b,c)
type(a)
type(b)
type(c)

24 hello world 34

str

In [9]:
d=mrunmai
print(d)

NameError: name 'mrunmai' is not defined

In [10]:
d='mrunmai's'
print(d)
type(d)

SyntaxError: unterminated string literal (detected at line 1) (1520367758.py, line 1)

In [11]:
p="mrunmai's"
print(p)
type(p)

mrunmai's

str

In [12]:
r=56
print(r)
type(r)

56

int

In [14]:
r=56.00
print(r)
type(r)

56.0

float

In [18]:
com=5j+45
print(com)
type(com)

(45+5j)

complex

In [19]:
a=23,"geeta",45
print(a)
type(a)

(23, 'geeta', 45)

tuple

In [27]:
x=23
y=False
print(x)
print(y)
type(y)

23
False

bool

In [25]:
#datatype conversion
#it is the process of conversion of one type of data into another
#it is applicable for int to float,float to int,int to complex,float to complex
#it is not possible for int/float to complex,complex to int/float,int/float to string and for string to int/float,

In [28]:
a=int(78.34)
print(a)
type(a)

78

int

In [29]:
a=float(65)
print(a)
type(a)

65.0

float

In [30]:
a=complex(52)
print(a)
type(a)

(52+0j)

complex

In [31]:
b=complex(67.88)
print(b)
type(b)

(67.88+0j)

complex

In [33]:
#to pick random integer number from a range of numbers we use 'randrange'

import random
print(random.randrange(1,100))

93

In [35]:
#using randrange give the output as decimal/float number

import random
variable=float(random.randrange(1,55))
print(variable)
type(variable)

43.0

float

In [41]:
#to pick a random floating/decimal then we use 'random' function itself
#here we cannot define the argument list i.e range of digits

import random
print(random.random())

0.8470013854483723

In [44]:
#using random give an output as integer

import random
c=int(random.random())
print(c)
type(c)

0

int